#spotlight{
    position: absolute;
    padding-top: 5%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9999;	
	}

#container{
    height: 65%;
    width: 85%;
    margin: auto;
	}

#imgcontainer{
	margin: auto;
	height: 100%;
	}

#navcontainer{
    position: absolute;
    height: 60%;
    width: 85%;
	}

#show{
	display: block;
	margin: auto;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	}

#rightButton{
	display: inline-block;
    background: url(../Spotlight/icons/next.png) right 20% no-repeat;
    width: 60%;
    height: 100%;
	}

#leftButton{
	display: inline-block;
	background: url(../Spotlight/icons/prev.png) left 20% no-repeat;
	width: 40%;
	height: 100%;
	}

#closeButton{
	background: url(../Spotlight/icons/close.png) top right no-repeat;
	height: 27px;
    width: 100%;
	}

