#spotlight{
	position: absolute;
	top: 0px;
	left: 0px;	
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 9999;
	}

.container{
	position: relative;
	margin: auto;
	padding-top: 30px;
	}

#show{
	display: block;
	margin: auto;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	}

#rightButton{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 60%;
	height: 96%;
	}

#leftButton{
	position: absolute;
	top:0px;
	left: 0px;
	width: 40%;
	height: 96%;
	}

#closeButton{
	height: 27px;
    width: 100%;
	}

#rightIcon{
	position: absolute;
    top: 50%;
    right: 40px;
    z-index: -1;
	}

#leftIcon{
	position: absolute;
    top: 50%;
    left: 40px;
    z-index: -1;
	}

#closeIcon{
	width: 27px;
	height: 27px;
	float: right;
	}